<!-- Navbar Toggle -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <!-- Content -->
  <div class="container-fluid">
    <!-- Brand -->
    <a href="/Banks" class="navbar-brand">I-Banking</a>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggle"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Menu -->
    <div class="collapse navbar-collapse" id="navbarToggle">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/Banks" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/Banks" class="nav-link disabled">About</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link disabled" >Contact</a>
        </li>
      </ul>
    </div>
    <a href="/logout" class="navbar-brand " >Logout</a>
  </div>
</nav>
